/* styles.css or App.css */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.header {
    background-color: rgb(0,100,200); /*#333;*/
    color: white;
    padding: 10px;
    margin: -10px;
    position: sticky;
    top: 0;
    left: 0;
    width: 1300px;
    display: flex;
    justify-content: flex-start; /* space-between; */
    align-items: center;
}

.button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    right: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end;
}

.sidebar {
    width: 400px;
    height: 100vh;
    background-color: rgb(0,60,200);
    color: white;
    position: fixed;
    top: 0;
    left: 1300px;
    transition: left 0.3s ease;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 15px;
    cursor: pointer;
}

.sidebar li:hover {
    background-color: #555;
}
